body{
    background-color: rgb(255, 233, 186);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav a:hover{
    color: blue;
}

.homeBanner{
    text-align: center;
}

.homeBanner h1{
    font-size: 50px;
}

.homeWelcome{
    text-align: center;
}

.homeIntro{
    font-size: 25px;
}

.homeIntro h1{
    justify-content: left;
}

.homeBio{
    font-size: 20px;
    justify-content: left;
}

.homeEducation{
    font-size: 20px;
    justify-content: left;
}


.team-intro{
    padding-left: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-section{
    width: 95vw;
    justify-content: center;
    align-items: center;
}

.team-member-row{
    /* border-top: solid 1px; */
    /* margin: 1.5rem 0 0; */
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.team-member-info{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.member-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}

.member-title{
    font-size: 20px;
}

.member-photo{
    flex: 0 0 150px;
}

.member-photo img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.alumni-header{
    display: flex;
    justify-content: center;
}

.alumni-section{
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alumni-section th{
    text-decoration: underline;
}

.courses-subheader {
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin: -10px 0 30px 0;
}

.courseDetails {
    margin: 40px 0;
}

.courseItem {
    margin: 30px 0;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 5px;
}

.courseItem h3 {
    color: black;
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: bold;
}

.courseItem h4 {
    margin: 0 0 15px 0;
    font-size: 26px;
    color: black;
    font-weight: 600;
}

.courseItem p {
    line-height: 1.8;
    color: black;
    font-size: 16px;
    margin: 0;
}

.courseDetails hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid #ccc;
}